body, html {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/* SIDEBAR */
.mdl-layout__drawer-button {
  top: -15px;
}

.mdl-layout__drawer .mdl-layout-title {
	font-size: 1.10em;
}

.mdl-layout__drawer {
	overflow:hidden;
}
.mdl-layout__drawer:hover {
	overflow: scroll;
}

.mdl-layout__drawer .mdl-navigation {
	padding-top: 3px
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
	padding-top: 7px;
	padding-bottom: 7px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover, .mdl-layout__drawer .mdl-navigation .active {
  background: #F2F5F8;
  color: blue;
}
/* END SIDEBAR */

/* SECTION */

.mdl-card {
	background: transparent;
}

.mdl-card__title-text {
	font-size: 1em
}

.media a {
	text-decoration: none
}
.media hr {
	height: 1px;
}

.media {
  font-size: 1em;
  line-height: 120%;
}

/* END SECTION */

/* SEARCHBAR */
.sw {
  float: left;
  width: 70%;
  height: 80px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sw form {
  margin-left: 13%;
  width: 80%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sw .search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  outline: none;
  border: none;
  border-radius: 0;
  background: rgba(255,255,255, 0.2);
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  height: 45px;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}
.sw .search:focus {
	transition: background 0.2s ease-in-out;
	background: rgba(255,255,255, 1);
}
::-webkit-input-placeholder {
	color: rgba(255,255,255, 0.5);
}
/* END SEARCHBAR */


#view-pdf {
  text-decoration: none;
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}