body, html {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	/*background: #F7FAFD;*/
}

/* NAVBAR */
.navbar {
	padding: 12px 30px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: red;
  color: #fff;
  border-radius: 2px;
  padding: 5px 16px;
}
.btn--primary:hover {
  color: white;
  background: rgb(105, 165, 224);
}
.btn--primary:active {
  background: #7f8ff4;
}
.btn--inside {
  margin-left: -26px;
}

.navbar-form {
	-webkit-transition: left 0.3s ease-in;
	-moz-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
	transition: left 0.3s ease-in;
}

.form__field {
  display: inline-block;
  width:260px;
  background: #F7FAFD;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 10px 18px;
}
/* End NAVBAR */

/* PAGE CONTENT */

.page-content {
	margin-top: 86px;
}

/* Sidebar */
#sidebar-wrapper {
	padding-top: 50px;
	height: 100%;
	display: block;
	position: fixed;
	-webkit-transition: left 0.3s ease-in;
	-moz-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
	transition: left 0.3s ease-in;
	-webkit-font-smoothing: subpixel-antialiased !important;
	z-index: 9999;
}

.sidebar-nav li {
	padding: 0 0 10px 0;
	margin-bottom: 15px;
}

.sidebar-nav li a {
	color: gray;
	text-decoration: none;
	padding: 10px;
	font-size: 13px;
}

.sidebar-nav i {
	margin-right: 10px;
}

.sidebar-nav a:hover {
	color: red
}

.bottom {
	margin-top: 100px;
}

#sidebar-btn {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 20px;
	position: absolute;
	top: 5px;
	right: -60px;
}

#sidebar-btn span {
	height: 2px;
	background: black;
	display: block;
	margin-bottom: 5px;
}

/*#sidebar-btn span:nth-child(2) {
	width: 75%;
}

#sidebar-btn span:nth-child(3) {
	width: 60%;
}

/* End Sidebar */


/* SECTION */
.well {
	padding: 15px 30px;
	background: white;
	border: none;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.article {
	padding: 15px 20px;
}

.article h3 a {
	color: black;
	text-decoration: none;
}

section hr {
	height: 2px;
	background: rgb(105, 165, 224);
	opacity: 0.8
}

.article-content p {
	font-size: 14px;
	color: gray;
	margin-bottom: 20px;
}

.article small a {
	color: red
}

.article .tags a {
	font-size: 11px;
	text-decoration: none;
}

.article .tags span {
	color: white;
	background: rgb(105, 165, 224);
	padding: 6px;
	border-radius: 25px;
	transition: all .2s ease-in-out;
}
.article .tags span:hover {
	box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.1);
}
/* END SECTION */

/* END PAGE CONTENT */
